<div>
    <div class="grid">
        <table class="table table-striped">
            <thead>
            <tr>
                <th *ngFor="let dataTable of dataTableProperties">
                    <input type="checkbox" value="" *ngIf="dataTable.columnType === 'checkBox'; else elseBlock" >
                    <ng-template #elseBlock>{{dataTable.header}}</ng-template>
                    <div *ngIf="dataTable.sortable" class="sortable-icon">
                        <i class="align-right fa fa-sort" aria-hidden="true"></i>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let var of dataTableProperties[0].values; let q = index">
                <td *ngFor="let dataTable of dataTableProperties; let i = index"><input type="checkbox" value="" *ngIf="dataTable.columnType === 'checkBox'; else elseBlock" ><ng-template #elseBlock>{{dataTable.values[q]}}</ng-template></td>
            </tr>      
            </tbody>
        </table>
    </div>
</div>